
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div id="nav">
    <nav>  <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">  <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a itemprop="item" href="/" title="Trang chủ"> <span itemprop="name">Trang chủ</span></a> <meta itemprop="position" content="1">  </li> ›<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"> <a itemprop="item" title="Liên hệ mua Thiết bị vệ sinh" href="/lien-he"> <span itemprop="name">Liên hệ</span></a> <meta itemprop="position" content="2"> </li>  </ol> </nav>
</div>
<div id="content">
    <div id="Contact">
        <div id="Left_Contact">
            <div class="Nvar_Contact">
                <span>Thông tin công ty</span>
            </div>
            <div id="Content_LeftContact">
                <img class="Logo" src="@Model.Logo" alt="@Model.Name" />
                <h2>
                    @Model.Name
                </h2>
                <p>
                    Trụ sở chính: <span>
                        @Model.Address
                    </span>
                </p>
                <p>Điện thoại : <span>:@Model.MobileIN</span></p>

                <p>Email :<span>@Model.Email</span> - Website: <span>www.Viglacerahanoi.com</span></p>
                <p class="note">Khách hàng chú ý : Thời gian làm việc của công ty bắt đầu từ 7h30 đến 18h hàng ngày. Công ty làm việc tất cả các ngày trong tuần từ thứ 2 đến chủ nhật (kể cả ngày lễ). Hỗ trợ bảo hành sản phẩm chỉ áp dụng các ngày từ thứ 2 đến thứ 6 và trong giờ hành chính .</p>
            </div>
        </div>
        <div id="Right_Contact">
            <div class="Nvar_Contact">
                <span>Form liên hệ</span>
            </div>
            <div id="Content_RightContact">
                @using (Html.BeginForm())
            {
            <div class="Tear_Contact">
                <div class="Left_TearContact">
                    <span>Họ và tên :</span>
                </div>
                <div class="Right_TearContact">
                    <input type="text" name="txtName" id="txtName" class="txtName" required placeholder="Mời bạn nhập họ và tên" />
                </div>
            </div>
            <div class="Tear_Contact">
                <div class="Left_TearContact">
                    <span>Địa chỉ :</span>
                </div>
                <div class="Right_TearContact">
                    <input type="text" name="txtAddress" id="txtAddress" class="txtName" required placeholder="Mời bạn nhập địa chỉ" />
                </div>
            </div>
            <div class="Tear_Contact">
                <div class="Left_TearContact">
                    <span>Điện thoại :</span>
                </div>
                <div class="Right_TearContact">
                    <input type="number" name="txtMobile" id="txtMobile" class="txtName" required placeholder="Mời bạn nhập địện thoại" />
                </div>
            </div>
            <div class="Tear_Contact">
                <div class="Left_TearContact">
                    <span>Email :</span>
                </div>
                <div class="Right_TearContact">
                    <input type="email" name="txtEmail" id="txtEmail" class="txtName" required placeholder="Mời bạn nhập Email" />
                </div>
            </div>
            <div class="Tear_Contact">
                <div class="Left_TearContact">
                    <span>Nội dung:</span>
                </div>
                <div class="Right_TearContact">
                    <textarea id="txtContent" name="txtContent" placeholder="Nhập nội dung liên hệ"></textarea>
                </div>
            </div>
            <div class="Tear_Contact">
                <button type="submit" name="btnSend" id="btnSend" class="bntSend" value="Gửi">Gửi thông tin</button>
                <p class="note">Chúng tôi chỉ phản hồi lại khi khách hàng điền đầy đủ và chính xác các thông tin. </p>
            </div>
            }
            </div>
        </div>
    </div>
    </div>


