
@{
     Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model Viglacera.Models.tblProduct
<div id="nav">
    <nav> @Html.Raw(ViewBag.nUrl)</nav>
</div>
<div id="content">
    <div id="product">
        <div id="headerProduct">
            <div id="thumb">
                <a href="#" title="@Model.Name"><img src="@Model.ImageLinkDetail" alt="@Model.Name" title="@Model.Name" /></a>
            </div>
            <div id="infoProduct">
                <h1>@Model.Name</h1>
                <p class="if">Mã sản phẩm : <span>@Model.Code</span></p>
                <p class="if">Giá sản phẩm : <span class="price">@string.Format("{0:#,#}",Model.PriceSale)vnđ </span> (Giá chưa chiết khấu)</p>
                <p class="if">Bảo hành : <span>@Model.Warranty năm</span></p>
                @if (Model.Size != null && Model.Size != "")
                {
                    <p class="if">Kích thước : <span>@Model.Size</span></p>

                }
                <div id="infoBasic">
                    <div id="nvarBasic">
                        Thông tin cơ bản
                    </div>
                    <div id="contentInfoBasic">
                        <table>
                            <tbody>
                                @Html.Raw(ViewBag.chuoi)
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="social">
                    <div class="Mxh" style="float: left; width: 100%; margin-top:5px">
                        <div style="float:left" class="fb-like" data-send="true" data-layout="button_count" data-width="60"
                             data-show-faces="true">
                        </div>
                        <div class="fb-send" style="float:left; margin:0px 5px" data-href="@Request.Url.ToString()"></div>
                        <div id="g" style="float: left; margin: 0px 0px;width: auto">
                            <g:plusone size="medium"></g:plusone>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="productDetail">
        @if (Model.NameInvolve != null && Model.NameInvolve != "")
        { 
            @Html.Raw("<div id=\"leftProductDetail\" style=\"width: 49.2% \">");
        }
        else
        {
            @Html.Raw(" <div id=\"leftProductDetail\">");
           }




                <div class="nvarProductDetail">
                    Thông tin sản phẩm
                </div>
                <div id="contentProductDetail">
                    @Html.Raw(Model.Content)
                </div>
            </div>
                @if (Model.NameInvolve != null && Model.NameInvolve != "")
            { <div id="rightProductDetail" style="width:49.2%; float:right">
            <div class="nvarProductDetail">
                @Model.NameInvolve  
            </div>
                  <div id="productInvolve">
                      @Html.Raw(ViewBag.resultInvolve)
                  </div>
            </div>
                }
            <div class="Clear"></div>
            @if (Model.Parameter != null && Model.Parameter != "")
            {
                <div class="nvarProductDetail">
                    Thông số kỹ thuật @Model.Name
                </div>
                    <div id="parameterDetail">@Html.Raw(Model.Parameter)</div>
            }

            <div id="tag">
                <i class="fa fa-tags" aria-hidden="true"></i>
                @Html.Raw(ViewBag.chuoitag)
            </div>
            <div id="ConmentFacebook">
                <div class="fb-comments" data-href="@Request.Url.ToString()" data-num-posts="20" style="width:100%; float:left; margin:0px" width="100%"></div>
            </div>
        </div>
        <div id="productLienQuan">
            @Html.Raw(ViewBag.result)
        </div>
    </div>
</div>
<div class="Clear"></div>
