
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model Viglacera.Models.tblNew
<div id="nav">
    <nav>   @Html.Raw(ViewBag.nUrl) </nav>
</div>
<div id="content">
    <div id="news">
        <div id="LeftNews">
            <div class="Tear_Cate">
                <div class="nVar_Tear_Cate" style="background:#0063a4">
                    <span>Chuyên mục chính</span>
                </div>
                <div class="Content_Tear_Cate">
                    <ul>
                        <li><a href="/Gioi-thieu" title="Giới thiệu" rel="nofollow"><span style="font-weight:normal">❖</span>  Về Viglacera</a></li>
                        <li><a href="/2/tin-tuc" title="tin tức" rel="nofollow"><span style="font-weight:normal">❖</span>  Tin tức</a></li>
                        <li><a href="/2/tuyen-dung" title="Tuyển dụng" rel="nofollow"><span style="font-weight:normal">❖</span>  Tuyển dụng</a></li>
                        <li><a href="/lien-he" title="Liên hệ" rel="nofollow"><span style="font-weight:normal">❖</span>  Liên hệ</a></li>
                        <li><a href="/2/he-thong-phan-phoi" title="Hệ thống phân phối" rel="nofollow"><span style="font-weight:normal">❖</span>  Hệ thống phân phối</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="RightNews">
            <div class="nVar_NewsDetail">
                <h1>@Model.Name</h1>
                <div class="Clear"></div>
                <div class="toolbar">
                    <span class="Cate"><i class="fa fa-folder-open-o" aria-hidden="true"></i>@ViewBag.NameMenu</span><span class="Cata">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        Thời gian gửi:@Model.DateCreate
                    </span><span class="Account">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        @ViewBag.Username
                    </span>
                </div>
            </div>
            <div class="NewsDetail">
                <div class="Des_Detail">
                    @Model.Description

                </div>
                <div class="Lienquan">
                    @Html.Raw(ViewBag.chuoinew)
                </div>
                <div class="Content_Detail">
                    @Html.Raw(Model.Content)
                </div>
                 
            </div>
             
             
        </div>
    </div>
</div>
<div class="Clear"></div>
