
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Viglacera.Models.tblNew>
@using Viglacera.Models
<div id="nav">
    <nav>   @Html.Raw(ViewBag.nUrl) </nav>
</div>
<div id="content">
    <div id="news">
        <div id="LeftNews">
            <div class="Tear_Cate">
                <div class="nVar_Tear_Cate" style="background:#0063a4">
                    <span>Chuyên mục chính</span>
                </div>
                <div class="Content_Tear_Cate">
                    <ul>
                        <li><a href="/Gioi-thieu" title="Giới thiệu" rel="nofollow"><span style="font-weight:normal">❖</span>  Về Viglacera</a></li>
                        <li><a href="/2/tin-tuc" title="tin tức" rel="nofollow"><span style="font-weight:normal">❖</span>  Tin tức</a></li>
                        <li><a href="/2/tuyen-dung" title="Tuyển dụng" rel="nofollow"><span style="font-weight:normal">❖</span>  Tuyển dụng</a></li>
                        <li><a href="/lien-he" title="Liên hệ" rel="nofollow"><span style="font-weight:normal">❖</span>  Liên hệ</a></li>
                        <li><a href="/he-thong-phan-phoi" title="Hệ thống phân phối" rel="nofollow"><span style="font-weight:normal">❖</span>  Hệ thống phân phối</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="RightNews">
            <div class="nVar_News">
                <h1>
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>

                   @ViewBag.Name
                </h1>
            </div>@foreach (var item in Model)
            {
                <div class="Tear_News">
                    <a href="/tin-tuc/@item.Tag" title="@item.Name"><img src="@item.Images" alt="@item.Name" /></a>
                    <a href="/tin-tuc/@item.Tag" title="@item.Name" class="Name">@item.Name</a>
                    <span class="date"><span class="iCon"></span>Thời gian gửi : @item.DateCreate</span>
                    <span class="des">
                        @item.Description
                </span>
            </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("newsTag", new { page = page, sortOrder = ViewBag.CurrentSortOrder, sortName = ViewBag.CurrentSortName, sortLevel = ViewBag.CurrentSortLevel }), (PagedListRenderOptions)ViewBag.ship)


        </div>
    </div>
</div>
<div class="Clear"></div>
