
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model Viglacera.Models.tblConfig
 <div id="content">
     <div id="nav">
         <nav> @Html.Raw(ViewBag.nUrl)</nav>
     </div>
    <div id="Baogia">
        <div id="Head_Top">
            <div id="Left_Head"><img src="@Model.Logo" alt="Viglacera" /></div>
            <div id="Right_Head">
                <span class="hd1">@Model.Name</span>
                <span class="hd2">Địa chỉ: @Model.Address</span>
                <span class="hd3">Điện thoại: @Model.MobileIN - Hotline : @Model.HotlineIN</span>
                <span class="hd4">Email : @Model.Email - website: @Model.Website</span>
            </div>
            <div class="Clear"></div>
        </div>
        <div class="line_bg"></div>
        <div id="Content_Baogia">
            <h1>Bảng báo giá @Html.Raw(ViewBag.name)</h1>
            <span class="date1">Hà Nội, ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year</span>
            <span class="kg">@Model.Name cám ơn quý khách hàng đã quan tâm và sử dụng sản phẩm của Viglacera Hà Nội. Sau đây Viglacera Hà Nội xin gửi tới quý khách hàng bảng báo giá bán lẻ sản phẩm @Html.Raw(ViewBag.name) mới nhất được chúng tôi cập nhật vào ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year .</span>

            <table border="0" id="Table"   cellpadding="0" cellspacing="0">
                <tr class="Head_tb">
                    <td class="Ord">STT</td>
                    <td class="Name">Tên sản phẩm</td>
                    <td class="Code">Mã SP</td>
                    <td class="Price">Đơn giá</td>
                    <td class="Quality">SL</td>
                    <td class="SumPrice">Thành tiền</td>
                    <td class="Image">Hình ảnh</td>
                </tr>
                @Html.Raw(ViewBag.chuoi)

            </table>
            <span class="ghichu_bg">* Ghi chú</span>
            <span class="ghichu1">- Giá trên đã bao gồm chi phí vận chuyển tại nội thành Hà Nội. Báo giá áp dụng tại khu vực Hà Nội và một số tỉnh lân cận</span>
            <span class="ghichu1">- Toàn bộ sản phẩm báo giá là sản phẩm Viglacera chính hãng 100%. Đều mới và áp dụng bảo hành chính hãng bởi Viglacera</span>
            <span class="ghichu1">- Bảng báo giá trên có giá trị trong tháng @DateTime.Now.Month năm @DateTime.Now.Year. Giá có thể thay đổi mà không báo trước. Khách lấy nhiều vui lòng liên hệ để nhận báo giá tốt hơn !</span>
            <div class="Clear"></div>
        </div>
    </div>
    <a href="" title="In trang" class="Printer" onclick="printArea('Baogia');"><span class="icon"></span> <span>In trang</span></a>
    <div class="Clear"></div>
    <script language="text/javascript">
        function printArea(areaName) {
            var printContents = document.getElementById(areaName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
    <script type="text/javascript">
        function printArea(areaName) {
            var printContents = document.getElementById(areaName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>

     </div>