<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Raw(ViewBag.Title)
    @Html.Raw(ViewBag.dcTitle)
    @Html.Raw(ViewBag.Description)
    @Html.Raw(ViewBag.dcDescription)
    @Html.Raw(ViewBag.Keyword)
    @Html.Raw(ViewBag.canonical)
    @Html.Raw(ViewBag.Meta)
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="vi">
         @Styles.Render("~/Content/Display/css/style") 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    @{ Html.RenderAction("partialdefault", "default");}
</head>
<body>
    <header>
        @{ Html.RenderAction("partialBanner", "header");}
    </header>
    <section>
        <div id="main">
            @RenderBody()

            <div class="Clear"></div>
        </div>
    </section>
    <footer>
        @{ Html.RenderAction("partialFooter", "footer");}
    </footer>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,300italic' rel='stylesheet' type='text/css'>

    <script src="~/Content/Display/scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Content/Display/scripts/owl.carousel.min.js"></script>
    <script src="~/Content/Display/scripts/jquery.nivo.slider.js"></script><script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
    <script>
            $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
				autoplay:true,
				autoplayTimeout:5000,
				autoplayHoverPause:true,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                    nav: true
                  },
                  600: {
                    items: 3,
                    nav: false
                  },
                  1000: {
                    items: 5,
                    nav: true,
                    loop: false,
                    margin: 20
                  }
                }
              })
            })
    </script>

</body>
</html>
